h1 {
    font-family: Tahoma, Verdana;
    margin-left: auto;
}

#board {
    margin-top: 25px;
    margin-left: 225px;
    display: inline-block;
    float: left;
}

#panel {
    margin-right: 100px;
    margin-top: 50px;
    font-family: Trebuchet, Verdana, serif;
    font-size: 50px;
    display: inline-block;
    float: right;
    border-radius: 20px; 
    padding: 5px 10px;
    cursor: pointer;
    background: #dddddd;
}

#text {
    display: inline-block;
    float: left;
    font-family: Consolas, monospace, sans-serif;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 200px;
    border: 1px solid gray;
    clear: right;
    padding: 10px;
}

#panel:hover {
    background: #eeeeee;
}

.element {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    display: inline-block;
    cursor: pointer;
}

.dot {
    background: black;
    height: 10px;
    width: 10px;
    border-radius: 2px;
}

.line {
    background: white;
    border-radius: 2px;
}

.line:hover {
    background: #bbbbbb;
}

.h-line {
    height: 10px;
    width: 50px;
}

.v-line {
    height: 50px;
    width: 10px;
}

.entry {
    background: #fafafa;
    height: 50px;
    width: 50px;
    text-align: center;
    font-family: Tahoma, Verdana, serif;
    font-size: 40px;
    border-radius: 10px;
}

.dark {
    background: gray;
}